.sprint-grid {
   block-size: 100%;
   inline-size: 100%;
   padding: var(--size-fluid-3);

   &[data-layout='table'] {
      align-content: start;
      display: grid;
      gap: var(--size-fluid-3);
   }

   &[data-layout='grid'] {

   }
}