.nav-phases {

   &__menu-button {
      &:is(:hover, :focus-visible) {
         --sidebar-menu-button-radio-icon-color: hsl(var(--color-sidebar-accent-foreground) / 0.25);
      }

      &[data-active='true'] {
         --sidebar-menu-button-radio-icon-color: hsl(var(--color-sidebar-primary));
         --sidebar-menu-button-border-color: hsl(var(--color-sidebar-primary) / 0.8);
      }
   }

   &__menu-button-radio-icon {
      --icon-color: var(--sidebar-menu-button-radio-icon-color, hsl(var(--color-sidebar-accent-foreground) / 0));
      --icon-size: 0.8em;
      margin-inline-start: auto;
   }
}