.toolbar {
   background: hsl(var(--color-surface-1));
   color: hsl(var(--color-text-1));
   padding-block: var(--sidebar-scale-size-0);
   padding-inline-start: var(--sidebar-scale-size-0);
   padding-inline-end: var(--sidebar-scale-size-1);
   position: relative;
}

.toolbar__container {
   align-items: center;
   display: grid;
   grid-template-columns: auto auto 1fr auto;
   gap: var(--sidebar-scale-size-0);
}

.toolbar__trigger {
   --button-background-color--hover: hsl(var(--color-sidebar-primary) / 0.1);
   --button-border-color--hover: hsl(var(--color-sidebar-primary) / 0.8);
}

.toolbar__breadcrumb {
   opacity: 0;
   transition: opacity var(--duration-fast) var(--ease-out-3);

   [data-collapsible="icon"] + main  & {
      opacity: 1;
   }
}